.container {
  width: 600px;
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 12px;
}
img {
  width: 100%;
  border-radius: 20px;
}
h2,
h4,
.explore_btn {
  position: absolute;
  margin: 0 auto;
  color: white;
}
h2 {
  top: 275px;
  left: 140px;
}
h4 {
  width: 95%;
  top: 335px;
  left: 4px;
  margin-bottom: 0;
  text-align: center;
}
.explore_btn {
  top: 395px;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 16px;
  left: 232px;
}
